:root{
--primary:#0f2a44;
--secondary:#1f4e79;
--light:#f5f7fa;
--accent:#f4b400;
--dark:#222;
}
*{margin:0;
    padding:0;box-sizing:border-box;font-family:Arial, Helvetica, sans-serif;
}
body{
    color:var(--dark);line-height:1.5;
}
a{
    text-decoration:none;color:inherit;
}
img{
    max-width:100%;display:block;
}


/* HERO */
.hero{
position:fixed;
top:0;left:0;
width:100%;
height:100vh;
background:url('https://images.unsplash.com/photo-1521791136064-7986c2920216') center/cover no-repeat;
z-index:-1;
transition:height 0.6s ease;
}

.hero.shrink{
    height:150px;
}
/* HEADER */
header{
position:fixed;
top:0;left:0;
width:100%;
height:150px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 40px;
background:rgba(3, 25, 46, 0.9);
color:#fff;
transform:translateY(-150px);
transition:transform 0.6s ease;
z-index:10;
}
header.show{
    transform:translateY(0);
}
.logo{
    font-size:24px;font-weight:bold;
}
.logo img{
    width: 150px;
   
}


nav ul{
    list-style:none;
    display:flex;
    gap:25px;
    align-items:center;
    font-size: 20px;
}
nav li{
    position:relative;
}
nav a:hover{
    color:var(--accent);
}


/* DROPDOWN */
.dropdown ul{
position:absolute;
top:100%;
left:0;
background:#fff;
color:#000;
min-width:180px;
display:none;
flex-direction:column;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
text-align: left;
gap: 5px;
}
.dropdown:hover ul{
    display:flex;
}
.dropdown ul a{
    padding:5px;
    text-align: justify;
   
}

.dropdown ul a:hover{
   
}


.btn{
padding:10px 20px;
background:var(--accent);
color:#000;
border-radius:4px;
font-weight:bold;
}
/* HAMBURGER */
.hamburger{
    display:none;
    font-size:26px;
    cursor:pointer;
}

/* Fundo sutil */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #f2f4f7, #e9ecf1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 180px;
    
}

/* Área central */
.wrapper {
    width: 100%;
    max-width: 900px;
   
}

/* Título realmente centralizado */
.titulo {
    text-align: center;
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 35px;
}

/* Contorno com degradê */
.borda-degrade {
    padding: 3px;
    border-radius: 20px;
   
}

/* Caixa do texto */
.texto {
    width: 900px;
    height:400px;
    background: #ffffff;
    border-radius: 17px;
    padding: 35px;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #444;
    transition: transform 0.4s ease, font-size 0.4s ease;
    
}

.texto p{
    text-align: justify;
}

/* Efeito hover */
.texto:hover {
    transform: scale(1.06);
    font-size: 1.25rem;
}




footer{
background:var(--primary);
color:#fff;
text-align:center;
padding:20px;
}
/* RESPONSIVO */
@media(max-width:900px){
nav{
    display:none;
    position:absolute;
    top:150px;
    left:0;width:100%;
    background:var(--primary);
}
nav ul{
    flex-direction:column;
    padding:20px;
}
nav.show{
    display:block;
}
.hamburger{
    display:block;
}
header{
    padding:0 20px;
}
.highlight-content{
    grid-template-columns:1fr;
}
.contact{
    grid-template-columns:1fr;
    height:auto;
}
.btn{
padding:5px 10px;
background:var(--accent);
color:#000;
border-radius:4px;
font-weight:bold;
}
}

/* Responsividade */
@media (max-width: 768px) {
    .titulo {
        font-size: 1.9rem;
    }

    .texto {
        font-size: 1rem;
         width: 350px;
         height:650px;
    }

    .texto:hover {
        transform: scale(1.03);
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 1.6rem;
    }

    .texto {
        padding: 25px;
    }
}
